# SET
A set is an unordered unique collection of objects in Python

In [1]:
# create a set
s = {"John", "Andy", "Mike", "John", "Amy", "John", "Mike"}
s

{'Amy', 'Andy', 'John', 'Mike'}

You can typecast a list into set.

In [3]:
#Convert a list into set
l = [10,20,30,40,50,10,20,70,80]
s1 = set(l)
type(s1)

set

# Set Operations

In [5]:
# Create a Set
A = {"Data Science", "Machine Learning", "Aritifical Intelligence", "Data analytics"}
A

{'Aritifical Intelligence',
 'Data Science',
 'Data analytics',
 'Machine Learning'}

### We can add element to the set using ```add``` method

In [6]:
A.add("Big Data")
A

{'Aritifical Intelligence',
 'Big Data',
 'Data Science',
 'Data analytics',
 'Machine Learning'}

### We can delete an element from set using ```remove``` method

In [8]:
A.remove("Aritifical Intelligence")
A

{'Big Data', 'Data Science', 'Data analytics', 'Machine Learning'}

### We can verify whether an element is in set or not using ```in``` command

In [14]:
"Big Data" in A #Returns true if element is present

True

In [16]:
"Artifical Intelligence" in A # returns false if element is not present

False

# Set Logical Operations
1. Intersection
2. Union
3. Difference
4. Superset
5. Subset

In [17]:
# Create two sets
set1 = {10, 20, 30, 40, 50, 60, 70, 80}
set2 = {10, 30, 50, 90, 100, 110}

In [20]:
# Print two sets
print(set1, set2)

{70, 40, 10, 80, 50, 20, 60, 30} {100, 10, 110, 50, 90, 30}

In [27]:
# Intersection
set1.intersection(set2)

{10, 30, 50}

In [28]:
# Use & to find intersection of two sets
set1&set2

{10, 30, 50}

In [24]:
# Union
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110}

In [30]:
#Difference
set1.difference(set2)  # returns elements of set1 that are not present in set2

{20, 40, 60, 70, 80}

In [36]:
#superset
{10,20,30,40,50}.issuperset({20,30,40})  #checks if {10,20,30,40,50} comprises of all elements of {20,30,40}

True

In [38]:
#subset
{10,20,30}.issubset({10,20,30,40,50}) #Checks if every element of {10,20,30} is in {10,20,30,40,50}

True

To add all elements of set use ```sum()``` function

In [41]:
s ={10,20,30,40,50}
sum(s)

150